<div class="fixed z-50 inset-0 overflow-y-auto" role="dialog">
  <form [formGroup]="formNewTravel" (ngSubmit)="createTravel()">
    <div
      class="flex sm:items-end items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        (click)="closeModal(false)"
        aria-hidden="true"
      ></div>
      <span
        class="hidden sm:inline-block sm:align-middle sm:h-screen"
        aria-hidden="true"
        >&#8203;</span
      >
      <div
        #ModalNewTravel
        class="inline-block animate__animated animate__fadeInDown align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-2xl sm:w-full"
      >
        <div class="w-full bg-mainColor h-6"></div>
        <div class="bg-secundaryColor px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="flex items-center flex-col">
            <div class="mt-3 mb-5 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3
                class="text-lg text-center text-black leading-6 font-medium"
                id="modal-title"
              >
                Registrar viaje
              </h3>
            </div>
            <form>
              <!-- Section destiny -->
              <div class="flex flex-col sm:flex-row justify-center">
                @if (isLoadingDestinations) {
                <app-spinner-inline />
                }@else {
                <div class="flex flex-col mb-2 sm:mr-3">
                  <span class="text-black mb-2">Origen del viaje</span>

                  <div class="flex flex-row items-center">
                    <div class="mr-1">
                      <span class="material-icons text-mainColor">map</span>
                    </div>
                    <div>
                      <select
                        formControlName="startTravel"
                        class="placeholder-black bg-secundaryColor text-black w-[320px] px-5 h-[40px] border-[1px] border-mainColor rounded-[4px] sm:w-[250px] invalid:border-red-500"
                      >
                        <option disabled selected value="">
                          Origen del viaje
                        </option>
                        @for (dest of LIST_DESTINATIONS; track $index) {
                        <option [value]="dest.id">
                          {{ dest.city }}
                        </option>
                        }
                      </select>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col mb-2">
                  <span class="text-black mb-2">Destino del viaje</span>

                  <div class="flex flex-row items-center">
                    <div class="mr-1">
                      <span class="material-icons text-mainColor"
                        >location_on</span
                      >
                    </div>
                    <div>
                      <select
                        formControlName="endTravel"
                        class="placeholder-black bg-secundaryColor text-black w-[320px] px-5 h-[40px] border-[1px] border-mainColor rounded-[4px] sm:w-[250px] invalid:border-red-500"
                      >
                        <option disabled selected value="">
                          Destino del viaje
                        </option>
                        @for (dest of LIST_DESTINATIONS; track $index) {
                        <option [value]="dest.id">
                          {{ dest.city }}
                        </option>
                        }
                      </select>
                    </div>
                  </div>
                </div>
                }
              </div>
              <!-- Section destiny -->

              <!-- Section time -->
              <div class="flex flex-col sm:flex-row">
                <div class="flex flex-col mb-2 sm:mr-3">
                  <span class="text-black mb-2">Fecha incio del viaje</span>

                  <div class="flex flex-row items-center">
                    <div class="mr-1">
                      <span class="material-icons text-mainColor"
                        >calendar_month</span
                      >
                    </div>
                    <div>
                      <input
                        type="date"
                        formControlName="dateStartTravel"
                        placeholder=" Nombre"
                        class="placeholder-white bg-secundaryColor text-black w-[320px] px-5 h-[40px] border-[1px] border-mainColor rounded-[4px] sm:w-[250px] invalid:border-red-500"
                      />
                    </div>
                  </div>
                </div>
                <div class="flex flex-col mb-2">
                  <span class="text-black mb-2">Fecha fin del viaje</span>

                  <div class="flex flex-row items-center">
                    <div class="mr-1">
                      <span class="material-icons text-mainColor"
                        >calendar_month</span
                      >
                    </div>
                    <div>
                      <input
                        type="date"
                        formControlName="dateEndTravel"
                        placeholder=" Nombre"
                        class="placeholder-white bg-secundaryColor text-black w-[320px] px-5 h-[40px] border-[1px] border-mainColor rounded-[4px] sm:w-[250px] invalid:border-red-500"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- Section time -->
              @if (isLoadingOperators) {
              <app-spinner-inline />
              }@else {
                <div class="flex flex-col mb-2">
                <span class="text-black mb-2">Operador del viaje</span>

                <div class="flex flex-row items-center">
                  <div class="mr-1">
                    <span class="material-icons text-mainColor"
                      >local_shipping</span
                    >
                  </div>
                  <div>
                    <select
                        formControlName="operatorTravel"
                        class="placeholder-black bg-secundaryColor text-black w-[320px] px-5 h-[40px] border-[1px] border-mainColor rounded-[4px] sm:w-[540px] invalid:border-red-500"
                      >
                        <option disabled selected value="">
                          Operador del viaje
                        </option>
                        @for (operator  of LIST_OPERATORS; track $index) {
                        <option [value]="operator.id">
                          {{ operator.name }}
                        </option>
                        }
                      </select>
                  </div>
                </div>
              </div>
              }
              
            </form>
          </div>
        </div>
        <div
          class="bg-secundaryColor px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
        >
          <button
            [disabled]="!formNewTravel.valid || isLoading"
            type="submit"
            class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-mainColor text-base font-medium text-white hover:bg-hover focus:outline-none sm:ml-3 sm:w-auto mb-[10px] sm:mb-0 sm:text-sm disabled:bg-gray-500"
          >
            @if (isLoading) {
            <div class="flex items-center space-x-2 justify-center">
              <svg
                class="w-5 h-5 animate-spin"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
              <span>Cargando</span>
            </div>
            }@else {
            <span>Guardar</span>
            }
          </button>

          <button
            type="button"
            (click)="closeModal(false)"
            class="w-full inline-flex justify-center rounded-md shadow-sm px-4 py-2 border-solid border-2 border-gray-500 text-base font-medium hover:bg-white hover:text-black focus:outline-none sm:ml-3 sm:w-auto sm:text-sm text-black"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
